# =========================
# AWS 자격증명
# =========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-2

# =========================
# ECR
# =========================
# AWS Console 우측 상단 계정 ID 확인
# 형식: 123456789012.dkr.ecr.ap-northeast-2.amazonaws.com
ECR_REGISTRY=973972497926.dkr.ecr.ap-northeast-2.amazonaws.com

# =========================
# Oliveyoung 크롤러
# =========================
OLIVEYOUNG_S3_BUCKET=oliveyoung-crawl-data

# =========================
# Airflow
# =========================
AIRFLOW_UID=1002
